$mk-appbar-background: rgb(17, 17, 17) !default;

$mk-sidebar-large-width: 170px !default;
$mk-sidebar-small-width: 46px !default;

$mk-appbar-active: #2a2a2a !default;
$mk-appbar-color: #ffffff !default;

/* Força hover */
.muk_appbar .mk_app_switcher .mk_app:hover {
    background-color: #333333 !important;
    color: #ffffff !important;
}

/* Força item ativo */
.muk_appbar .mk_app_switcher .mk_app.active {
    background-color: #2a2a2a !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

